/* General Styles */

.row img:hover{
    cursor: pointer;
}

/* Lightbox */

.lightbox {
  display: none; 
  position: fixed; 
  z-index: 1000;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  max-width: 90%;
  max-height: 80%;
  box-shadow: 0 0 20px black;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}